/* landing page */

/* navbar */
a {
    text-decoration: none;
    color: white;
    font-weight: 700;
}

.dropdown {
    padding: 4px 10px;
}

.fixed-navbar {
    position: fixed;
    width: 98%;
}

/* landing page content */
.landing-content {
    width: 60%;
    margin: auto;
}

/* course section */
.subject {
    margin-bottom: 5%;
}

/* footer  */
#contact-mail a{
    font-size: 2rem;
}